BasedOnStyle: Google

# Largeur de ligne (comme Python)
ColumnLimit: 100

BinPackArguments: false
BinPackParameters: false

AllowAllArgumentsOnNextLine: false

# Alignement des affectations
AlignConsecutiveAssignments: true

# Accolades plus compactes (moins "C++ verbeux")
BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  BeforeCatch: true
  BeforeElse: true
  IndentBraces: false

# Commentaires (alignés entre eux)
AlignTrailingComments: true
SpacesBeforeTrailingComments: 2
PenaltyBreakComment: 10000
ReflowComments: false
MaxEmptyLinesToKeep: 1

SortIncludes: false

# Indentation type Python
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: true
AlignAfterOpenBracket: Align

# Style plus fluide (moins cassé)
BreakBeforeBinaryOperators: None
BreakStringLiterals: true
DerivePointerAlignment: false
KeepEmptyLinesAtTheStartOfBlocks: true

AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline

PenaltyBreakBeforeFirstCallParameter: 10000
PenaltyBreakString: 0
