BasedOnStyle: Google

# Limite de colonne pour la largeur des lignes
ColumnLimit: 150

# Alignement des affectations consécutives
AlignConsecutiveAssignments: true

# Gestion des accolades
BreakBeforeBraces: Custom
BraceWrapping:
  AfterClass: true
  AfterControlStatement: true
  AfterEnum: true
  AfterFunction: false
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: false
  IndentBraces: true

# Commentaires
PenaltyBreakComment: 10000
MaxEmptyLinesToKeep: 1
AlignTrailingComments: true

SortIncludes: false

# Alignement et indentation
AlignAfterOpenBracket: Align
IndentWidth: 4
TabWidth: 4
UseTab: Never
IndentCaseLabels: true

# Autres réglages
BreakBeforeBinaryOperators: None
BreakStringLiterals: true
DerivePointerAlignment: false
KeepEmptyLinesAtTheStartOfBlocks: true
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None

PenaltyBreakBeforeFirstCallParameter: 10000
PenaltyBreakString: 0
